service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.jason
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input
    writepid /dev/cpuset/system-background/tasks

on init
    # Goodix fingerprint
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/fingerdown_wait
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/proximity_state
    chown system system /sys/bus/platform/devices/soc:fingerprint_goodix/proximity_state
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/vendor

on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/misc/goodix 0770 system system
    mkdir /data/vendor/gf_data 0770 system system

    copy /data/misc/goodix/finger_0_0.so /data/vendor/goodix/finger_0_0.so
    copy /data/misc/goodix/finger_0_0_bak.so /data/vendor/goodix/finger_0_0_bak.so
    copy /data/misc/goodix/finger_0_1.so /data/vendor/goodix/finger_0_1.so
    copy /data/misc/goodix/finger_0_1_bak.so /data/vendor/goodix/finger_0_1_bak.so
    copy /data/misc/goodix/finger_0_2.so /data/vendor/goodix/finger_0_2.so
    copy /data/misc/goodix/finger_0_2_bak.so /data/vendor/goodix/finger_0_2_bak.so
    copy /data/misc/goodix/finger_0_3.so /data/vendor/goodix/finger_0_3.so
    copy /data/misc/goodix/finger_0_3_bak.so /data/vendor/goodix/finger_0_3_bak.so
    copy /data/misc/goodix/finger_0_4.so /data/vendor/goodix/finger_0_4.so
    copy /data/misc/goodix/finger_0_4_bak.so /data/vendor/goodix/finger_0_4_bak.so
    copy /data/misc/goodix/auth_token_0.so /data/vendor/goodix/auth_token_0.so
    copy /data/misc/goodix/gf_calibration.so /data/vendor/goodix/gf_calibration.so
    copy /data/misc/goodix/gf_fdt_base.so /data/vendor/goodix/gf_fdt_base.so
    copy /data/misc/goodix/gf_nav_base.so /data/vendor/goodix/gf_nav_base.so
    copy /data/misc/goodix/gf_otp_info.so /data/vendor/goodix/gf_otp_info.so

    chown system system /data/vendor/goodix/finger_0_0.so
    chown system system /data/vendor/goodix/finger_0_0_bak.so
    chown system system /data/vendor/goodix/finger_0_1.so
    chown system system /data/vendor/goodix/finger_0_1_bak.so
    chown system system /data/vendor/goodix/finger_0_2.so
    chown system system /data/vendor/goodix/finger_0_2_bak.so
    chown system system /data/vendor/goodix/finger_0_3.so
    chown system system /data/vendor/goodix/finger_0_3_bak.so
    chown system system /data/vendor/goodix/finger_0_4.so
    chown system system /data/vendor/goodix/finger_0_4_bak.so
    chown system system /data/vendor/goodix/auth_token_0.so
    chown system system /data/vendor/goodix/gf_calibration.so
    chown system system /data/vendor/goodix/gf_fdt_base.so
    chown system system /data/vendor/goodix/gf_nav_base.so
    chown system system /data/vendor/goodix/gf_otp_info.so
    chmod 0700 /data/vendor/goodix/finger_0_0.so
    chmod 0700 /data/vendor/goodix/finger_0_1.so
    chmod 0700 /data/vendor/goodix/finger_0_2.so
    chmod 0700 /data/vendor/goodix/finger_0_3.so
    chmod 0700 /data/vendor/goodix/finger_0_4.so
    chmod 0700 /data/vendor/goodix/finger_0_0_bak.so
    chmod 0700 /data/vendor/goodix/finger_0_1_bak.so
    chmod 0700 /data/vendor/goodix/finger_0_2_bak.so
    chmod 0700 /data/vendor/goodix/finger_0_3_bak.so
    chmod 0700 /data/vendor/goodix/finger_0_4_bak.so
    chmod 0700 /data/vendor/goodix/auth_token_0.so
    chmod 0700 /data/vendor/goodix/gf_calibration.so
    chmod 0700 /data/vendor/goodix/gf_fdt_base.so
    chmod 0700 /data/vendor/goodix/gf_nav_base.so
    chmod 0700 /data/vendor/goodix/gf_otp_info.so
