# Allow fingerprintd to open firmware images
r_dir_file(fingerprintd, firmware_file)

allow fingerprintd fingerprint_service:service_manager find;

allow fingerprintd goodix_data_file:dir rw_dir_perms;
allow fingerprintd goodix_data_file:file create_file_perms;
allow fingerprintd goodixfp_device:chr_file rw_file_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd fpc_cali_data:dir rw_dir_perms;
allow fingerprintd fpc_cali_data:file create_file_perms;
allow fingerprintd fpc_cali_data:sock_file { create unlink };

# fpc speficic
allow fingerprintd sysfs:file rw_file_perms;
allow fingerprintd uhid_device:chr_file rw_file_perms;
allow fingerprintd persist_file:dir r_dir_perms;

allow fingerprintd mpctl_socket:sock_file rw_file_perms;
allow fingerprintd perfd:unix_stream_socket connectto;

allow fingerprintd fingerprintd:netlink_socket { create bind read write };

allow fingerprintd storage_file:dir search;
allow fingerprintd storage_file:lnk_file read;
allow fingerprintd mnt_user_file:dir search;
allow fingerprintd mnt_user_file:lnk_file read;
allow fingerprintd fuse:dir search;
allow fingerprintd fuse:lnk_file read;

set_prop(fingerprintd, fingerprintd_prop)
